### ""Рассчитайте прирост средней коверсии на 1 магазин в Санкт- Петербурге из входящих в покупатели""

В анализе прироста средней конверсии Периода2 к Периоду1 должны участвовать только сопоставимые магазины (LFL)-работавшие  в обоих периодах

In [19]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Тестовое.xlsx', sheet_name='Задание 1')

In [3]:
df

     Период Код магазина             Город  Входящие, чел  Покупатели, чел.
0         1     1-01-145          Боровичи           3560               483
1         1     1-01-212  Великий Новгород              0                95
2         1     1-01-189  Великий Новгород           1896               237
3         1     1-01-228  Великий Новгород           3329               511
4         1     1-01-232  Великий Новгород           9837               975
..      ...          ...               ...            ...               ...
257       2     1-01-166       Архангельск           3430               359
258       2     1-02-011            Мирный           1577               284
259       2     1-01-174      Северодвинск           5327               510
260       2     1-02-003      Северодвинск           2282               250
261       2     1-02-020      Северодвинск           3156               224

[262 rows x 5 columns]

In [10]:
# Фильтрация с использованием регулярного выражения
spb_mask = df['Город'].str.contains(r'с.?анкт.?петербург|спб|питер', case=False, regex=True)

# Применяем фильтр
df_spb = df[spb_mask]

df_spb

     Период Код магазина            Город  Входящие, чел  Покупатели, чел.
23        1     1-01-107  Санкт-Петербург           5001               576
24        1     1-01-267  Санкт-Петербург           9072               773
25        1     1-01-269  Санкт-Петербург           2152               116
26        1     1-01-126  Санкт-Петербург           7264               939
27        1     1-01-250  Санкт-Петербург           7793              1061
..      ...          ...              ...            ...               ...
216       2     1-01-223  Санкт-Петербург           2339               197
222       2     1-01-251  Санкт-Петербург           4672               478
223       2     1-01-162  Санкт-Петербург           2586               182
224       2     1-01-154  Санкт-Петербург           4144               331
225       2     1-01-275  Санкт-Петербург              0               507

[105 rows x 5 columns]

In [15]:
# Посчитаем количество нулей в каждом из столбцов
zero_counts = (df_spb[['Входящие, чел', 'Покупатели, чел.']] == 0).sum()

# Выведем результат
print(zero_counts)

Входящие, чел       20
Покупатели, чел.     0
dtype: int64

In [23]:
print(df_spb[['Входящие, чел', 'Покупатели, чел.']].dtypes)

Входящие, чел       int64
Покупатели, чел.    int64
dtype: object

In [30]:
# Создаём новый столбец с конверсией
df_spb['Конверсия'] = np.where(df_spb['Входящие, чел'] > 0, df_spb['Покупатели, чел.'] / df_spb['Входящие, чел'], 0)

In [31]:
lfl_df = df_spb.groupby('Код магазина').filter(lambda x: set(x['Период']) == {1, 2})

In [32]:
lfl_df.shape

(102, 6)

In [33]:
df_spb.shape

(105, 6)

In [34]:
lfl_df

,Период,Код магазина,Город,"Входящие, чел","Покупатели, чел.",Конверсия
23,1,1-01-107,Санкт-Петербург,5001,576,0.115177
24,1,1-01-267,Санкт-Петербург,9072,773,0.085207
25,1,1-01-269,Санкт-Петербург,2152,116,0.053903
26,1,1-01-126,Санкт-Петербург,7264,939,0.129268
27,1,1-01-250,Санкт-Петербург,7793,1061,0.136148
...,...,...,...,...,...,...
216,2,1-01-223,Санкт-Петербург,2339,197,0.084224
222,2,1-01-251,Санкт-Петербург,4672,478,0.102312
223,2,1-01-162,Санкт-Петербург,2586,182,0.070379
224,2,1-01-154,Санкт-Петербург,4144,331,0.079875
225,2,1-01-275,Санкт-Петербург,0,507,0.000000

In [37]:
period1 = lfl_df[lfl_df['Период'] == 1]
period2 = lfl_df[lfl_df['Период'] == 2]

mean_conv_period1 = period1['Конверсия'].mean()
mean_conv_period2 = period2['Конверсия'].mean()

growth = (mean_conv_period2 - mean_conv_period1) / mean_conv_period1 * 100

print(f'Средняя конверсия Период 1: {mean_conv_period1:.4f}')
print(f'Средняя конверсия Период 2: {mean_conv_period2:.4f}')
print(f'Прирост конверсии, %: {growth:.2f}%')

Средняя конверсия Период 1: 0.1004
Средняя конверсия Период 2: 0.0953
Прирост конверсии, %: -5.06%